


                   <br><br><br>
                  <p class="footer">
                    Copyright 2018 Change Healthcare Holdings, LLC and/or one of its subsidiaries or affiliates. Change Healthcare and the Change Healthcare logos, are trademarks of Change Healthcare Holdings, LLC. All other product or company names mentioned may be trademarks, service marks or registered trademarks of their respective companies. All Rights Reserved.
                </p>
            </div>
        </div>
    </div>   <!--  End of div class container-fluid  -->

       <!-- Placed at the end of the document so the pages load faster -->
       <script type="text/javascript" src="/javascript/jquery-3.3.1.min.js" ></script>
       <script type="text/javascript" src="/javascript/bootstrap.bundle.min.js" ></script>

</body>
</html>
